# Import Libraries

In [2]:
import numpy as np
import pandas as pd

# Loading the Data and Selecting the Features

### Import Data

In [3]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0) 
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0, header = None)
# loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0)
# loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0, header = None)

### Explore Data

In [4]:
loan_data_inputs_train.head()

,Unnamed: 0.1,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
427211,427211,12796369,14818505,24000,24000,24000.0,36 months,8.90,762.08,A,...,1,0,0,1,0,0,0,0,0,0
206088,206088,1439740,1691948,10000,10000,10000.0,36 months,14.33,343.39,C,...,0,0,0,1,0,0,0,0,0,0
136020,136020,5214749,6556909,20425,20425,20425.0,36 months,8.90,648.56,A,...,0,0,0,1,0,0,0,0,0,0
412305,412305,13827698,15890016,17200,17200,17200.0,36 months,16.59,609.73,D,...,0,0,0,1,0,0,0,0,0,0
36159,36159,422455,496525,8400,8400,7450.0,36 months,12.84,282.40,C,...,0,1,0,1,0,0,0,0,0,0

In [5]:
loan_data_targets_train.head()

        1
0
427211  1
206088  1
136020  1
412305  0
36159   0

In [6]:
loan_data_inputs_train.shape

(373028, 321)

In [7]:
loan_data_targets_train.shape

(373028, 1)

In [8]:
loan_data_inputs_test.shape

NameError: name 'loan_data_inputs_test' is not defined

In [ ]:
loan_data_targets_test.shape

### Selecting the Features

In [9]:
# Here we select a limited set of input variables in a new dataframe.
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>=86',
]]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [10]:
# Here we store the names of the reference category dummy variables in a list.
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [11]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
# From the dataframe with input variables, we drop the variables with variable names in the list with reference categories. 
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,NaN
206088,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,NaN
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,NaN
412305,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,NaN
36159,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,NaN

In [12]:
# REMOVING N/A FROM DATASET -------------------------
inputs_train['mths_since_last_record:>=86'] = np.where (inputs_train['mths_since_last_record:>=86'].isnull(), 0, 1)
inputs_train['purpose:major_purch__car__home_impr'] = np.where (inputs_train['purpose:major_purch__car__home_impr'].isnull(), 0, 1)
inputs_train['purpose:oth__med__vacation'] = np.where (inputs_train['purpose:oth__med__vacation'].isnull(), 0, 1)

inputs_train['mths_since_last_record:>=86'] = np.where (inputs_train['mths_since_last_record:>=86'].isnull(), 0, 1)
inputs_train['purpose:major_purch__car__home_impr'] = np.where (inputs_train['purpose:major_purch__car__home_impr'].isnull(), 0, 1)
inputs_train['purpose:oth__med__vacation'] = np.where (inputs_train['purpose:oth__med__vacation'].isnull(), 0, 1)

In [13]:
inputs_train.isnull().sum()

grade:A                         0
grade:B                         0
grade:C                         0
grade:D                         0
grade:E                         0
                               ..
mths_since_last_record:3-20     0
mths_since_last_record:21-31    0
mths_since_last_record:32-80    0
mths_since_last_record:81-86    0
mths_since_last_record:>=86     0
Length: 104, dtype: int64

In [14]:
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
206088,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,1
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
412305,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
36159,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1

In [15]:
inputs_train.shape

(373028, 104)

In [16]:
loan_data_targets_train.shape

(373028, 1)

# PD Model Estimation

In [17]:
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
206088,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,1
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
412305,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
36159,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1

## Logistic Regression

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [19]:
reg = LogisticRegression()
# We create an instance of an object from the 'LogisticRegression' class.

In [20]:
pd.options.display.max_rows = None
# Sets the pandas dataframe options to display all columns/ rows.

In [21]:
reg.fit(inputs_train, loan_data_targets_train)
# Estimates the coefficients of the object from the 'LogisticRegression' class
# with inputs (independent variables) contained in the first dataframe
# and targets (dependent variables) contained in the second dataframe.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
reg.intercept_
# Displays the intercept contain in the estimated ("fitted") object from the 'LogisticRegression' class.

array([-0.3852685])

In [24]:
reg.coef_
# Displays the coefficients contained in the estimated ("fitted") object from the 'LogisticRegression' class.

array([[ 1.15559381,  0.91194291,  0.71313407,  0.52021989,  0.33900894,
         0.1453975 ,  0.0999029 ,  0.11557679,  0.03903853,  0.06108235,
         0.06100416,  0.06467811,  0.07973561,  0.13833862,  0.10262914,
         0.18547231,  0.24050788,  0.2262301 ,  0.26490342,  0.32262209,
         0.52535558,  0.08939476, -0.00996728,  0.11307388,  0.01056406,
        -0.3852685 , -0.3852685 ,  0.05434974,  0.07253629,  0.09888046,
         0.12608017,  0.09184058,  0.06289646,  0.12615297,  1.10248533,
         0.90179682,  0.80253397,  0.60051004,  0.43757727,  0.19057952,
        -0.05270467,  0.87266657,  0.54845845,  0.29974168,  0.10986983,
         0.05570088,  0.03832488,  0.08140162,  0.12178338,  0.12754574,
         0.08091242,  0.05062691,  0.72458197,  0.58167615,  0.37139137,
         0.43149932,  0.33884888,  0.3133365 ,  0.29730971,  0.2962076 ,
         0.32490317,  0.23639784,  0.12254761,  0.15078525, -0.02064226,
         0.02789158,  0.25685301,  0.04029382,  0.00688061,  0.00367795,
         0.01624717,  0.03697174,  0.06027094,  0.21090576, -0.06588941,
         0.0013306 ,  0.09833489,  0.166815  ,  0.24203083,  0.31627691,
         0.39160641,  0.41037106,  0.48682573,  0.57499716,  0.50167581,
         0.19620147,  0.32861912,  0.36082709,  0.30250123,  0.22693594,
         0.12916002,  0.11825692,  0.08487276,  0.04445991,  0.13998194,
         0.19708895,  0.21771195,  0.16973003,  0.10052256,  0.1915489 ,
         0.12589091,  0.28639517, -0.04529875, -0.3852685 ]])

In [25]:
feature_name = inputs_train.columns.values
# Stores the names of the columns of a dataframe in a variable.

In [26]:
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
# Creates a dataframe with a column titled 'Feature name' and row values contained in the 'feature_name' variable.
summary_table['Coefficients'] = np.transpose(reg.coef_)
# Creates a new column in the dataframe, called 'Coefficients',
# with row values the transposed coefficients from the 'LogisticRegression' object.
summary_table.index = summary_table.index + 1
# Increases the index of every row of the dataframe with 1.
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
# Assigns values of the row with index 0 of the dataframe.
summary_table = summary_table.sort_index()
# Sorts the dataframe by index.
summary_table

                            Feature name  Coefficients
0                              Intercept     -0.385269
1                                grade:A      1.155594
2                                grade:B      0.911943
3                                grade:C      0.713134
4                                grade:D      0.520220
5                                grade:E      0.339009
6                                grade:F      0.145397
7                     home_ownership:OWN      0.099903
8                home_ownership:MORTGAGE      0.115577
9                       addr_state:NM_VA      0.039039
10                         addr_state:NY      0.061082
11          addr_state:OK_TN_MO_LA_MD_NC      0.061004
12                         addr_state:CA      0.064678
13                addr_state:UT_KY_AZ_NJ      0.079736
14             addr_state:AR_MI_PA_OH_MN      0.138339
15             addr_state:RI_MA_DE_SD_IN      0.102629
16                   addr_state:GA_WA_OR      0.185472
17                      addr_state:WI_MT      0.240508
18                         addr_state:TX      0.226230
19                      addr_state:IL_CT      0.264903
20          addr_state:KS_SC_CO_VT_AK_MS      0.322622
21          addr_state:WV_NH_WY_DC_ME_ID      0.525356
22      verification_status:Not Verified      0.089395
23   verification_status:Source Verified     -0.009967
24                   purpose:credit_card      0.113074
25            purpose:debt_consolidation      0.010564
26            purpose:oth__med__vacation     -0.385269
27   purpose:major_purch__car__home_impr     -0.385269
28                 initial_list_status:w      0.054350
29                               term:36      0.072536
30                          emp_length:1      0.098880
31                        emp_length:2-4      0.126080
32                        emp_length:5-6      0.091841
33                        emp_length:7-9      0.062896
34                         emp_length:10      0.126153
35                mths_since_issue_d:<38      1.102485
36              mths_since_issue_d:38-39      0.901797
37              mths_since_issue_d:40-41      0.802534
38              mths_since_issue_d:42-48      0.600510
39              mths_since_issue_d:49-52      0.437577
40              mths_since_issue_d:53-64      0.190580
41              mths_since_issue_d:65-84     -0.052705
42                       int_rate:<9.548      0.872667
43                 int_rate:9.548-12.025      0.548458
44                 int_rate:12.025-15.74      0.299742
45                 int_rate:15.74-20.281      0.109870
46   mths_since_earliest_cr_line:141-164      0.055701
47   mths_since_earliest_cr_line:165-247      0.038325
48   mths_since_earliest_cr_line:248-270      0.081402
49   mths_since_earliest_cr_line:271-352      0.121783
50      mths_since_earliest_cr_line:>352      0.127546
51                         delinq_2yrs:0      0.080912
52                       delinq_2yrs:1-3      0.050627
53                      inq_last_6mths:0      0.724582
54                    inq_last_6mths:1-2      0.581676
55                    inq_last_6mths:3-6      0.371391
56                          open_acc:1-3      0.431499
57                         open_acc:4-12      0.338849
58                        open_acc:13-17      0.313337
59                        open_acc:18-22      0.297310
60                        open_acc:23-25      0.296208
61                        open_acc:26-30      0.324903
62                         open_acc:>=31      0.236398
63                           pub_rec:3-4      0.122548
64                           pub_rec:>=5      0.150785
65                       total_acc:28-51     -0.020642
66                        total_acc:>=52      0.027892
67                    acc_now_delinq:>=1      0.256853
68               total_rev_hi_lim:5K-10K      0.040294
69              total_rev_hi_lim:10K-20K      0.006881
70              total_rev_hi_lim:20K-30K      0.003678
71              total_rev_hi_lim:30K-40K      0.016247
72              total_rev_hi_lim:40K-55K      0.036972
73              total_rev_hi_lim:55K-95K      0.060271
74                 total_rev_hi_lim:>95K      0.210906
75                    annual_inc:20K-30K     -0.065889
76                    annual_inc:30K-40K      0.001331
77                    annual_inc:40K-50K      0.098335
78                    annual_inc:50K-60K      0.166815
79                    annual_inc:60K-70K      0.242031
80                    annual_inc:70K-80K      0.316277
81                    annual_inc:80K-90K      0.391606
82                   annual_inc:90K-100K      0.410371
83                  annual_inc:100K-120K      0.486826
84                  annual_inc:120K-140K      0.574997
85                      annual_inc:>140K      0.501676
86                             dti:<=1.4      0.196201
87                           dti:1.4-3.5      0.328619
88                           dti:3.5-7.7      0.360827
89                          dti:7.7-10.5      0.302501
90                         dti:10.5-16.1      0.226936
91                         dti:16.1-20.3      0.129160
92                         dti:20.3-21.7      0.118257
93                         dti:21.7-22.4      0.084873
94                           dti:22.4-35      0.044460
95        mths_since_last_delinq:Missing      0.139982
96           mths_since_last_delinq:4-30      0.197089
97          mths_since_last_delinq:31-56      0.217712
98           mths_since_last_delinq:>=57      0.169730
99        mths_since_last_record:Missing      0.100523
100          mths_since_last_record:3-20      0.191549
101         mths_since_last_record:21-31      0.125891
102         mths_since_last_record:32-80      0.286395
103         mths_since_last_record:81-86     -0.045299
104          mths_since_last_record:>=86     -0.385269

## Build a Logistic Regression Model with P-Values

In [27]:
# P values for sklearn logistic regression.

# Class to display p-values for logistic regression in sklearn.

from sklearn import linear_model
import scipy.stats as stat

class LogisticRegression_with_p_values:
    
    def __init__(self,*args,**kwargs):#,**kwargs):
        self.model = linear_model.LogisticRegression(*args,**kwargs)#,**args)

    def fit(self,X,y):
        self.model.fit(X,y)
        
        #### Get p-values for the fitted model ####
        denom = (2.0 * (1.0 + np.cosh(self.model.decision_function(X))))
        denom = np.tile(denom,(X.shape[1],1)).T
        F_ij = np.dot((X / denom).T,X) ## Fisher Information Matrix
        Cramer_Rao = np.linalg.inv(F_ij) ## Inverse Information Matrix
        sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
        z_scores = self.model.coef_[0] / sigma_estimates # z-score for eaach model coefficient
        p_values = [stat.norm.sf(abs(x)) * 2 for x in z_scores] ### two tailed test for p-values
        
        self.coef_ = self.model.coef_
        self.intercept_ = self.model.intercept_
        self.p_values = p_values

In [28]:
reg = LogisticRegression_with_p_values()
# We create an instance of an object from the newly created 'LogisticRegression_with_p_values()' class.

In [29]:
reg.fit(inputs_train, loan_data_targets_train)
# Estimates the coefficients of the object from the 'LogisticRegression' class
# with inputs (independent variables) contained in the first dataframe
# and targets (dependent variables) contained in the second dataframe.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: RuntimeWarning: invalid value encountered in sqrt
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [ ]:
# Same as above.
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

In [ ]:
# This is a list.
p_values = reg.p_values
# We take the result of the newly added method 'p_values' and store it in a variable 'p_values'.

In [ ]:
# Add the intercept for completeness.
p_values = np.append(np.nan, np.array(p_values))
# We add the value 'NaN' in the beginning of the variable with p-values.

In [ ]:
summary_table['p_values'] = p_values
# In the 'summary_table' dataframe, we add a new column, called 'p_values', containing the values from the 'p_values' variable.

In [ ]:
summary_table

In [ ]:
# We are going to remove some features, the coefficients for all or almost all of the dummy variables for which,
# are not tatistically significant.

# We do that by specifying another list of dummy variables as reference categories, and a list of variables to remove.
# Then, we are going to drop the two datasets from the original list of dummy variables.

# Variables
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>=86',
]]

In [ ]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [ ]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

In [ ]:
# Here we run a new model.
reg2 = LogisticRegression_with_p_values()
reg2.fit(inputs_train, loan_data_targets_train)

In [36]:
feature_name = inputs_train.columns.values

In [37]:
# Same as above.
summary_table = pd.DataFrame(columns = ['Feature name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg2.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg2.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

NameError: name 'reg2' is not defined

In [38]:
# We add the 'p_values' here, just as we did before.
p_values = reg2.p_values
p_values = np.append(np.nan,np.array(p_values))
summary_table['p_values'] = p_values
summary_table
# Here we get the results for our final PD model.

NameError: name 'reg2' is not defined

In [ ]:
import pickle

In [ ]:
pickle.dump(reg2, open('pd_model.sav', 'wb'))
# Here we export our model to a 'SAV' file with file name 'pd_model.sav'.